 .hero_image {
     background-image: url(sophia-h-gue-8PEr4R2yFJQ-unsplash.jpg);
     -webkit-background-size: cover;
     background-size: cover ;
     height: 100vh;
     position: relative;
 }
 .hero_image{
     color: blue;
     object-position: 50%;
     line-height: 50%;
     max-lines: 50%;
     
     transform: translate(-50%,-50%);
 }
 